apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  creationTimestamp: null
  name: synapses.synapse.opdev.io
spec:
  group: synapse.opdev.io
  names:
    kind: Synapse
    listKind: SynapseList
    plural: synapses
    singular: synapse
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Synapse is the Schema for the synapses API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SynapseSpec defines the desired state of Synapse.
            properties:
              homeserver:
                description: |-
                  Holds information related to the homeserver.yaml configuration file.
                  The user can either specify an existing ConfigMap by its Name and
                  Namespace containing a homeserver.yaml, or provide a set of values for
                  the creation of a configuration file from scratch.
                oneOf:
                - required:
                  - configMap
                - required:
                  - values
                properties:
                  configMap:
                    description: |-
                      Holds information about the ConfigMap containing the homeserver.yaml
                      configuration file to be used as input for the configuration of the
                      Synapse server.
                    properties:
                      name:
                        description: Name of the ConfigMap in the given Namespace.
                        type: string
                      namespace:
                        description: |-
                          Namespace in which the ConfigMap is living. If left empty, the Synapse
                          namespace is used.
                        type: string
                    required:
                    - name
                    type: object
                  values:
                    description: |-
                      Holds the required values for the creation of a homeserver.yaml
                      configuration file by the Synapse Operator
                    properties:
                      enableRegistration:
                        default: false
                        description: Whether new user registration is allowed. Defaults
                          to false.
                        type: boolean
                      reportStats:
                        description: Whether or not to report anonymized homeserver
                          usage statistics
                        type: boolean
                      serverName:
                        description: The public-facing domain of the server
                        type: string
                    required:
                    - reportStats
                    - serverName
                    type: object
                type: object
              isOpenshift:
                default: false
                description: Set to true if deploying on OpenShift
                type: boolean
            required:
            - homeserver
            type: object
          status:
            description: SynapseStatus defines the observed state of Synapse.
            properties:
              bridges:
                description: Information on the bridges deployed alongside Synapse
                properties:
                  heisenbridge:
                    description: Information on the Heisenbridge (IRC Bridge).
                    properties:
                      enabled:
                        default: false
                        description: Whether a Heisenbridge has been deployed for
                          this Synapse instance
                        type: boolean
                      name:
                        description: Name of the Heisenbridge object
                        type: string
                    type: object
                  mautrixsignal:
                    description: Information on the mautrix-signal bridge.
                    properties:
                      enabled:
                        description: Whether a mautrix-signal has been deployed for
                          this Synapse instance
                        type: boolean
                      name:
                        description: Name of the mautrix-signal bridge object
                        type: string
                    type: object
                type: object
              homeserverConfiguration:
                description: Holds configuration information for Synapse
                properties:
                  registrationEnabled:
                    description: Whether new user registration is enabled
                    type: boolean
                  reportStats:
                    description: Whether or not to report anonymized homeserver usage
                      statistics
                    type: boolean
                  serverName:
                    description: The public-facing domain of the server
                    type: string
                type: object
              needsReconcile:
                default: false
                type: boolean
              reason:
                description: Reason for the current Synapse State
                type: string
              state:
                description: State of the Synapse instance
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
