---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - persistentvolumeclaims
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - postgres-operator.crunchydata.com
  resources:
  - postgresclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - synapse.opdev.io
  resources:
  - heisenbridges
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - synapse.opdev.io
  resources:
  - heisenbridges/finalizers
  verbs:
  - update
- apiGroups:
  - synapse.opdev.io
  resources:
  - heisenbridges/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - synapse.opdev.io
  resources:
  - mautrixsignals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - synapse.opdev.io
  resources:
  - mautrixsignals/finalizers
  verbs:
  - update
- apiGroups:
  - synapse.opdev.io
  resources:
  - mautrixsignals/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - synapse.opdev.io
  resources:
  - synapses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - synapse.opdev.io
  resources:
  - synapses/finalizers
  verbs:
  - update
- apiGroups:
  - synapse.opdev.io
  resources:
  - synapses/status
  verbs:
  - get
  - patch
  - update
