
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - synapse.opdev.io
  resources:
  - synapses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - synapse.opdev.io
  resources:
  - synapses/finalizers
  verbs:
  - update
- apiGroups:
  - synapse.opdev.io
  resources:
  - synapses/status
  verbs:
  - get
  - patch
  - update
