apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.Name }}
  namespace: {{ .Values.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- range $key, $val := .Values.Labels }}
      {{ $key }}: {{ $val }}
      {{- end }}
  template:
    metadata:
      labels:
        {{- range $key, $val := .Values.Labels }}
        {{ $key }}: {{ $val }}
        {{- end }}
    spec:
      containers:
      - name: heisenbridge
        image: hif1/heisenbridge:1.14
        command:
        {{- range .Values.Command }}
        - {{ . }}
        {{- end }}
        ports:
        - containerPort: 9898
          protocol: TCP
        volumeMounts:
        - mountPath: /data-heisenbridge
          name: data-heisenbridge
      volumes:
      - configMap:
          defaultMode: 420
          name: {{ .Values.Name }}
        name: data-heisenbridge