apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.Name }}
  namespace: {{ .Values.Namespace }}
data:
  homeserver.yaml: |
    # Configuration file for Synapse.
    #
    # This is a YAML file: see [1] for a quick introduction. Note in particular
    # that *indentation is important*: all the elements of a list or dictionary
    # should have the same indentation.
    #
    # [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
    #
    # For more information on how to configure Synapse, including a complete accounting of
    # each option, go to docs/usage/configuration/config_documentation.md or
    # https://matrix-org.github.io/synapse/latest/usage/configuration/config_documentation.html
    server_name: "{{ .Values.Spec.Homeserver.Values.ServerName }}"
    pid_file: /homeserver.pid
    listeners:
      - port: 8008
        tls: false
        type: http
        x_forwarded: true
        resources:
          - names: [client, federation]
            compress: false
    database:
      name: sqlite3
      args:
        database: /data/homeserver.db
    log_config: "/data/{{ .Values.Spec.Homeserver.Values.ServerName }}.log.config"
    media_store_path: "/data/media_store"
    registration_shared_secret: "{{ .Values.RegistrationSharedSecret }}"
    report_stats: {{ if .Values.Spec.Homeserver.Values.ReportStats }}yes{{ else }}no{{ end }}
    enable_registration: {{ if eq (Deref .Values.Spec.Homeserver.Values.EnableRegistration) true }}true{{ else }}false{{ end }}
    {{ if eq (Deref .Values.Spec.Homeserver.Values.EnableRegistration) true }}enable_registration_without_verification: true{{ end }}
    macaroon_secret_key: "{{ .Values.MacaroonSecretKey }}"
    form_secret: "{{ .Values.FormSecret }}"
    signing_key_path: "data/{{ .Values.Spec.Homeserver.Values.ServerName }}.signing.key"
    trusted_key_servers:
      - server_name: "matrix.org"